////
/// Front page component.
///
/// @group  Components
/// @author Lee Anthony <seothemeswp@gmail.com>
/// @link   https://github.com/seothemes/genesis-starter-theme
////

[src*="placeholder.com"] {
	padding: $spacing--xxs;
	border: $base--border;
	border-radius: $base--border--radius;
}

[class*="front-page-"] {
	width: 100%;
	padding: $spacing--xl 0 $spacing--xl - $gutter;
	border-bottom: $base--border;

	@include mq(m) {
		padding: $spacing--xxl 0 $spacing--xxl - $gutter;
	}

	&:last-of-type {
		border-bottom: 0;
	}
}

.front-page {

	&-1 {
		padding: $spacing--xxl 0 $spacing--xxl - $gap;

		@include mq(m) {
			padding: $spacing--xxxl 0 $spacing--xxxl - $gap;
		}
	}

	// Replace with custom code - example with textured bg
	&-2 {
		background-color: $color--red;
		position: relative;

		&:before {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			top: 0;
			mix-blend-mode: soft-light;
			background-image: url(../../assets/svg/GeoPattern_Top.svg);
			background-size: cover;
			background-position: 50%;
			background-repeat: no-repeat;
		}

		.wrap {
			position: relative;
			background-color: $color--white;
			padding: $spacing--l;
			border-radius: 20px;
			margin-top: -15%;
			z-index: 9999;
			

			@include mq(m) {
				margin-top: -10%;
				padding: $spacing--xl;
			}
		}

		p {
			margin-bottom: 0;
		}

		.widget {
			margin-bottom: 0;
		}

		h2 {

			&:before {
				content: url("");
				width: 50px;
				display: block;
				margin: 0 0 2rem 0;
				line-height: 1;
			}
		}
	}

	&-5 {
		padding: $spacing--xl 0 $spacing--xl - $gutter;
		background-color: $color--background;
	}
}
