////
/// Heading.
///
/// @group  Base
/// @author Lee Anthony <seothemeswp@gmail.com>
/// @link   https://github.com/seothemes/genesis-starter-theme
////



#{$all-headings} {

	@include heading;
}

@each $heading, $font-size in $font-sizes {

	#{$heading} {
		font-size: $font-size;
	}
}

h4 {
	@include heading;
	
	font-family: $font-family--subheading;
	color: $color--red;
	letter-spacing: .8px;
	font-weight: $font-weight--semibold;
	text-transform: uppercase;
}
